body{
    width: 1440px;
}
.header{
    height: 95px;
    border-bottom: 1px solid #ccc;
}
.head{
    padding-top: 20px;
    display: flex;
	align-items: center;
	justify-content: space-between;
}

ul{
    list-style: none;
}
.nav-item {
	margin-left: 57px;
   font-size: 15px;
    color: #000;
    text-decoration: none;
}
.nav-item:hover{
    text-decoration: underline;
} 